Repository Ev1ch/compyto: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

fix(sockets): fix events handlers subscribing
  src/packages/connections/sockets/logic/creators/createSocketCommunicator.ts
Due: yarn format, yarn lint

build: add test packages
  package.json
  yarn.lock
Due: yarn format

test: add tests utils for random generation
  src/tests/constants.ts
  src/tests/utils/getRandomNumberInRange.ts
  src/tests/utils/getRandomPath.ts
  src/tests/utils/getRandomPort.ts
  src/tests/utils/getRandomURI.ts
  src/tests/utils/index.ts
Due: yarn format, yarn lint

test: add jest config
  jest.config.ts
  tsconfig.json
Due: yarn format, yarn lint

build: add testing scripts
  package.json
Due: yarn format

test(connections/logic): add example test
  src/packages/connections/logic/getStringURI.test.ts
Due: yarn format, yarn lint

test: add util for random free port finding
  src/tests/utils/getRandomFreePort.ts
Due: yarn format, yarn lint

test: remove emulations
  src/emulation/main.ts
  src/emulation/master/main.ts
  src/emulation/master/settings.json
  src/emulation/pc-1/main.ts
  src/emulation/pc-1/settings.json
  src/emulation/pc-2/main.ts
  src/emulation/pc-2/settings.json
Due: yarn format, yarn lint

test: add utils for settings generators
  src/tests/utils/getRandomClient.ts
  src/tests/utils/getRandomCode.ts
  src/tests/utils/getRandomFreePort.ts
  src/tests/utils/getRandomFreeURI.ts
  src/tests/utils/index.ts
Due: yarn format, yarn lint

test: add settings generator
  src/tests/constants.ts
  src/tests/logic/getRandomClientSettings.ts
  src/tests/logic/getRandomMasterSettings.ts
  src/tests/logic/index.ts
Due: yarn format, yarn lint

build: update jest config
  jest.config.ts
Due: yarn format, yarn lint

test: add basic integration test
  src/tests/integrations/sockets.test.ts
Due: yarn format, yarn lint

feat(connections/domain): add data type
  src/packages/connections/domain/Command.ts
  src/packages/connections/domain/Communicator.ts
  src/packages/connections/domain/Data.ts
  src/packages/connections/domain/index.ts
  src/packages/connections/sockets/logic/setCommunicationHandlers.ts
Due: yarn format, yarn lint

fix(sockets/logic): fix queue race condition
  src/packages/connections/sockets/logic/creators/createSocketCommunicator.ts
Due: yarn format, yarn lint

ci: add docs autodeploy
  .github/workflows/deploy-docs.yaml
Due: none

ci(workflows/deploy-docs): fix deploy workflow job
  .github/workflows/deploy-docs.yaml
Due: none

feat(core): add group size
  src/packages/core/domain/Group.ts
  src/packages/core/logic/creators/createGroup.ts
Due: yarn format, yarn lint

tests: simplify communicators creation
  src/tests/integrations/sockets.test.ts
  src/tests/logic/getRandomCommunicators.ts
  src/tests/logic/index.ts
Due: yarn format, yarn lint

docs: fix docs endpoint
  typedoc.json
Due: yarn format

feat(connections): add basic finalize method
  src/packages/connections/domain/Communicator.ts
  src/packages/connections/sockets/domain/Event.ts
  src/packages/connections/sockets/logic/creators/createSocketCommunicator.ts
Due: yarn format, yarn lint

test(connections): add basic finalize method test
  src/tests/integrations/sockets.test.ts
Due: yarn format, yarn lint

build: add docs into ignoring
  .gitignore
Due: none

build: fix library name
  package.json
  typedoc.json
Due: yarn format

build: fix including and excluding files in config
  tsconfig.json
Due: yarn format

build: add build for npm
  package.json
  yarn.lock
Due: yarn format

build: add ts config for npm
  tsconfig.npm.json
Due: yarn format

build: move typescript into dev deps
  package.json
  yarn.lock
Due: yarn format

build: add export for build
  package.json
Due: yarn format

build: fix package name
  package.json
  typedoc.json
Due: yarn format

v1.0.1
  package.json
Due: yarn format

build: add included files list
  package.json
Due: yarn format

build: add github links
  package.json
Due: yarn format

build: fix version number
  package.json
Due: yarn format

ci: add publishing workflow
  .github/workflows/deploy-documentation.yaml
  .github/workflows/publish-package.yaml
Due: none

ci: fix publishing token
  .github/workflows/publish-package.yaml
Due: none

ci: fix actions versions
  .github/workflows/deploy-documentation.yaml
  .github/workflows/publish-package.yaml
Due: none

ci: fix workflow steps names
  .github/workflows/deploy-documentation.yaml
  .github/workflows/publish-package.yaml
Due: none

Path conditions:
  yarn format: (any of: *.ts) or (any of: *.json)
  yarn lint: any of: *.ts
