Repository Ev1ch/compyto: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

feat(dashboard): add base path in tsconfig
  packages/dashboard/tsconfig.json
Due: prettier --check

feat(dashboard/monitoring): add preparers
  packages/dashboard/src/modules/monitoring/logic/preparers/getMonitoringEventField.ts
  packages/dashboard/src/modules/monitoring/logic/preparers/getMonitoringEventsByFilters.ts
  packages/dashboard/src/modules/monitoring/logic/preparers/getMonitoringEventsBySearch.ts
  packages/dashboard/src/modules/monitoring/logic/preparers/getMonitoringEventsWithPreparers.ts
  packages/dashboard/src/modules/monitoring/logic/preparers/getMonitoringEventsWithSorts.ts
  packages/dashboard/src/modules/monitoring/logic/preparers/getValuesByMonitoringEventsFilterCriteria.ts
  packages/dashboard/src/modules/monitoring/logic/preparers/index.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): add filter entities
  packages/dashboard/src/modules/monitoring/domain/MonitoringEventsFilter.ts
  packages/dashboard/src/modules/monitoring/domain/MonitoringEventsFilterCriteria.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): add sort entities
  packages/dashboard/src/modules/monitoring/domain/MonitoringEventsSort.ts
  packages/dashboard/src/modules/monitoring/domain/MonitoringEventsSortField.ts
  packages/dashboard/src/modules/monitoring/domain/MonitoringEventsSortOrder.ts
Due: prettier --check, eslint

ci: add dashboard utils dependency
  packages/dashboard/package.json
Due: prettier --check

feat(dashboard/monitoring): add add filter popper
  packages/dashboard/src/modules/monitoring/components/blocks/AddMonitoringEventsFilterPopper/index.tsx
Due: none

feat(dashboard/monitoring): add events preparers interface
  packages/dashboard/src/modules/monitoring/domain/MonitoringEventsPreparers.ts
Due: prettier --check, eslint

fix(dashboard/components): change core layout
  packages/dashboard/src/components/layouts/Layout/index.tsx
Due: none

feat(dashboard/monitoring): add filter and sort creators
  packages/dashboard/src/modules/monitoring/logic/creators/createMonitoringEventsFilter.ts
  packages/dashboard/src/modules/monitoring/logic/creators/createMonitoringEventsSort.ts
  packages/dashboard/src/modules/monitoring/logic/creators/index.ts
  packages/dashboard/src/modules/monitoring/logic/index.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): add domain entities re-exports
  packages/dashboard/src/modules/monitoring/domain/index.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): add monitoring event component
  packages/dashboard/src/modules/monitoring/components/common/MonitoringEvent/index.tsx
Due: none

feat(dashboard/monitoring): add monitoring filter component
  packages/dashboard/src/modules/monitoring/components/common/MonitoringEventsFilter/index.tsx
Due: none

feat(dashboard/monitoring): add monitoring events sort component
  packages/dashboard/src/modules/monitoring/components/common/MonitoringEventsSort/index.tsx
  packages/dashboard/src/modules/monitoring/components/common/index.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): add monitoring sort add component
  packages/dashboard/src/modules/monitoring/components/blocks/AddMonitoringEventsSortPopper/index.tsx
Due: none

feat(dashboard/monitoring): add monitoring events filters panel component
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsFilters/index.tsx
Due: none

feat(dashboard/monitoring): add monitoring events preparers components
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsPreparers/index.tsx
Due: none

feat(dashboard/monitoring): add search bar for events
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsSearch/index.tsx
Due: none

feat(dashboard/monitoring): add sorts for events bar
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsSorts/index.tsx
Due: none

feat(dashboard/monitoring): add events tree component
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTree/index.tsx
Due: none

feat(dashboard/monitoring): rename logging module
  packages/dashboard/src/modules/logging/components/blocks/Logger/index.tsx
  packages/dashboard/src/modules/logging/components/blocks/index.ts
  packages/dashboard/src/modules/logging/components/common/MonitoringEvent/index.tsx
  packages/dashboard/src/modules/logging/components/common/MonitoringEventContext/index.tsx
  packages/dashboard/src/modules/logging/components/common/index.ts
  packages/dashboard/src/modules/logging/contexts/LoggerContext.tsx
  packages/dashboard/src/modules/logging/contexts/index.ts
Due: prettier --check, eslint

feat: add rank for process
  packages/core/src/domain/Process.ts
  packages/core/src/domain/Rank.ts
  packages/core/src/logic/creators/createProcess.ts
  packages/settings/src/schemas/SettingsSchema.ts
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
  tests/src/emulations/send-receive/main.ts
  tests/src/emulations/send-receive/master/main.ts
  tests/src/emulations/send-receive/master/settings.json
  tests/src/emulations/send-receive/pc-1/main.ts
  tests/src/emulations/send-receive/pc-1/settings.json
  tests/src/emulations/send-receive/pc-2/main.ts
  tests/src/emulations/send-receive/pc-2/settings.json
  tests/tsconfig.json
Due: prettier --check, eslint

feat(dashboard/monitoring): add events context
  packages/dashboard/src/modules/monitoring/contexts/LoggerContext.tsx
  packages/dashboard/src/modules/monitoring/contexts/index.ts
Due: prettier --check, eslint

feat(dashboard/connections): add basic palette component
  packages/dashboard/src/modules/connections/components/blocks/Palette/index.tsx
  packages/dashboard/src/modules/connections/components/blocks/index.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): add basic logger component
  packages/dashboard/src/modules/monitoring/components/blocks/Logger/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/index.ts
  packages/dashboard/src/modules/monitoring/constants.ts
Due: prettier --check, eslint

feat(dashboard): update basic home page layout
  packages/dashboard/index.html
  packages/dashboard/src/App.tsx
Due: none

feat(dashboard/monitoring): divide context into parts
  packages/dashboard/src/modules/monitoring/components/providers/MonitoringContextProvider/index.tsx
  packages/dashboard/src/modules/monitoring/components/providers/index.ts
  packages/dashboard/src/modules/monitoring/contexts/MonitoringContext.ts
  packages/dashboard/src/modules/monitoring/contexts/index.ts
  packages/dashboard/src/modules/monitoring/hooks/index.ts
  packages/dashboard/src/modules/monitoring/hooks/useMonitoringContextLogic.ts
Due: prettier --check, eslint

feat(dashboard/components): add context provider props type
  packages/dashboard/src/components/providers/ContextProvider.ts
  packages/dashboard/src/components/providers/index.ts
Due: prettier --check, eslint

feat: add rank for processes
  build.sh
  packages/core/src/domain/Process.ts
  packages/core/src/domain/Rank.ts
  packages/core/src/domain/index.ts
  packages/core/src/logic/creators/createProcess.ts
  packages/settings/src/domain/Settings.ts
  packages/settings/src/schemas/SettingsSchema.ts
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
Due: prettier --check, eslint

feat(dashboard/downloads): add file download hook
  packages/dashboard/src/modules/downloads/hooks/index.ts
  packages/dashboard/src/modules/downloads/hooks/useFileDownload.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): extract context hook
  packages/dashboard/src/modules/monitoring/hooks/index.ts
  packages/dashboard/src/modules/monitoring/hooks/useMonitoringContext.ts
Due: prettier --check, eslint

build(dashboard): add sockets package
  packages/dashboard/package.json
Due: prettier --check

fix(dashboard/monitoring): fix context hook imports
  packages/dashboard/src/modules/monitoring/components/blocks/AddMonitoringEventsFilterPopper/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/AddMonitoringEventsSortPopper/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsFilters/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsSearch/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsSorts/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTree/index.tsx
Due: none

feat(dashboard/connections): fix connection interface
  packages/dashboard/src/modules/connections/domain/Connection.ts
  packages/dashboard/src/modules/connections/domain/index.ts
Due: prettier --check, eslint

fix(dashboard): fix app component providers
  packages/dashboard/src/App.tsx
Due: none

feat(dashboard/monitoring): add events transfers component
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTransfers/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/index.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): add events adding method
  packages/dashboard/src/modules/monitoring/contexts/MonitoringContext.ts
  packages/dashboard/src/modules/monitoring/hooks/useMonitoringContextLogic.ts
Due: prettier --check, eslint

fix(dashboard/monitoring): fix export button
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTransfers/index.tsx
Due: none

feat(dashboard/utils): add pluralize function
  packages/dashboard/src/utils/index.ts
  packages/dashboard/src/utils/pluralize.ts
Due: prettier --check, eslint

fix(dashboard/monitoring): fix preparers adding buttons disabling
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsFilters/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsSorts/index.tsx
Due: none

feat(dashboard/monitoring): add complex header for tree
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTransfers/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTree/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTreeHeader/index.tsx
Due: none

Path conditions:
  prettier --check: (any of: *.ts) or (any of: *.json)
  eslint: any of: *.ts
