Repository Ev1ch/compyto: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

fix(sockets/logic): fix disconnection
  src/packages/connections/sockets/logic/creators/createSocketCommunicator.ts
Due: yarn format, yarn lint

test: add ts config for tests
  tsconfig.test.json
Due: yarn format

test: fix jest config
  jest.config.ts
Due: yarn format, yarn lint

docs(connections): add comment for abort and abort error
  src/packages/connections/domain/Abort.ts
  src/packages/connections/errors/AbortError.ts
Due: yarn format, yarn lint

feat(sockets): rename events to socket events
  src/packages/connections/sockets/domain/SocketEvent.ts
  src/packages/connections/sockets/domain/index.ts
  src/packages/connections/sockets/logic/creators/createSocketCommunicator.ts
  src/packages/connections/sockets/logic/setCommunicationHandlers.ts
  src/packages/connections/sockets/logic/startMainPerson.ts
  src/packages/connections/sockets/logic/startPerson.ts
  src/packages/connections/sockets/logic/waiting/waitForClientBalances.ts
  src/packages/connections/sockets/logic/waiting/waitForConnections.ts
  src/packages/connections/sockets/logic/waiting/waitForServerBalances.ts
Due: yarn format, yarn lint

fix(monitoring/utils): fix monitoring parts return type
  src/packages/monitoring/utils/getMonitoringEventParts.ts
Due: yarn format, yarn lint

tests: add explicit return type for getters
  src/tests/utils/getRandomClient.ts
  src/tests/utils/getRandomFreePort.ts
  src/tests/utils/getRandomFreeURI.ts
  src/tests/utils/getRandomPort.ts
  src/tests/utils/getRandomURI.ts
Due: yarn format, yarn lint

fix: make stricter types
  src/packages/balancing/domain/Balance.ts
  src/packages/connections/domain/Command.ts
  src/packages/connections/domain/Connection.ts
  src/packages/connections/logic/creators/createCommand.ts
  src/packages/connections/sockets/domain/SocketConnection.ts
  src/packages/core/domain/Group.ts
  src/packages/core/domain/Operator.ts
  src/packages/core/domain/Process.ts
  src/packages/runner/domain/Runner.ts
Due: yarn format, yarn lint

fix(runner/logic): remove example runner creation
  src/packages/runner/logic/createRunner.ts
Due: yarn format, yarn lint

build: add commitlint
  package.json
  yarn.lock
Due: yarn format

build: add commitlint config
  .commitlintrc
Due: none

build: add husky hooks package
  package.json
  yarn.lock
Due: yarn format

ci: add commit message validation
  .husky/commit-msg
Due: none

ci: add linting before committing
  .husky/pre-commit
Due: none

fix(core/logic): disable eslint for lines with any
  src/packages/core/logic/creators/createOperator.ts
Due: yarn format, yarn lint

ci: fix eslint scope
  package.json
Due: yarn format

ci: fix lint-staged scripts
  .lintstagedrc
Due: none

build: extract core ts config
  tsconfig.json
Due: yarn format

build: extract packages ts config
  tsconfig.packages.json
Due: yarn format

build: extract npm ts config
  tsconfig.npm.json
Due: yarn format

build: extract test ts config
  tsconfig.test.json
Due: yarn format

ci: fix build script
  package.json
Due: yarn format

feat(collection methods): add basic scatter method
  src/packages/connections/domain/Communicator.ts
  src/packages/connections/sockets/logic/creators/createSocketCommunicator.ts
  src/packages/logging/constants.ts
  src/tests/emulations/scatter/main.ts
  src/tests/emulations/scatter/master/main.ts
  src/tests/emulations/scatter/master/settings.json
  src/tests/emulations/scatter/pc-1/main.ts
  src/tests/emulations/scatter/pc-1/settings.json
  src/tests/emulations/scatter/pc-2/main.ts
  src/tests/emulations/scatter/pc-2/settings.json
  src/tests/emulations/send-receive/main.ts
  src/tests/emulations/send-receive/master/main.ts
  src/tests/emulations/send-receive/master/settings.json
  src/tests/emulations/send-receive/pc-1/main.ts
  src/tests/emulations/send-receive/pc-1/settings.json
  src/tests/emulations/send-receive/pc-2/main.ts
  src/tests/emulations/send-receive/pc-2/settings.json
Due: yarn format, yarn lint

minor: add generics to communicator interface
  src/packages/connections/domain/Communicator.ts
Due: yarn format, yarn lint

minor: add function to compare 2 processes
  src/packages/connections/sockets/logic/creators/createSocketCommunicator.ts
Due: yarn format, yarn lint

minor: fix naming for variable
  src/packages/connections/sockets/logic/creators/createSocketCommunicator.ts
Due: yarn format, yarn lint

refactor: add lodash utils
  package.json
  src/packages/connections/sockets/logic/creators/createSocketCommunicator.ts
  src/packages/utils/domain/index.ts
  src/packages/utils/domain/lodash.ts
  yarn.lock
Due: yarn format, yarn lint

fix(scatter): empty receive buffer before pushing
  src/packages/connections/sockets/logic/creators/createSocketCommunicator.ts
Due: yarn format, yarn lint

ci: extract tests
  tests/jest.config.ts
  tests/package.json
  tests/src/integrations/sockets.test.ts
  tests/src/logic/getRandomClientSettings.ts
  tests/src/logic/getRandomCommunicators.ts
  tests/src/logic/getRandomEvent.ts
  tests/src/utils/getRandomClient.ts
  tests/src/utils/getRandomFreeURI.ts
  tests/src/utils/getRandomURI.ts
  tests/tsconfig.json
Due: yarn format, yarn lint

ci: add tsbuildinfo into git ignore
  .gitignore
Due: none

ci: fix prettier config
  .prettierrc
Due: none

ci: fix root ts config
  tsconfig.json
Due: yarn format

ci: add eslint ignore
  .eslintignore
Due: none

ci: add common ts config
  tsconfig.common.json
Due: yarn format

ci: update package file
  package.json
  yarn.lock
Due: yarn format

ci: fix typedoc config
  typedoc.json
Due: yarn format

ci: fix imports and refs
  packages/dashboard/package.json
  packages/runner/src/index.ts
  packages/utils/src/logic/createEventsEmitter.ts
  tests/package.json
  tests/tsconfig.json
Due: yarn format, yarn lint

ci: fix docs building
  package.json
  packages/connections/src/domain/Communicator.ts
  packages/connections/src/domain/Device.ts
  packages/connections/src/schemas/URISchema.ts
  packages/core/src/domain/Code.ts
  packages/core/src/domain/OperatorType.ts
  packages/core/src/domain/Perform.ts
  packages/core/src/domain/Worker.ts
  packages/core/src/schemas/CodeSchema.ts
  packages/core/src/schemas/ProcessSchema.ts
  packages/logging/src/domain/Logger.ts
  packages/monitoring/src/domain/MonitoringEventContext.ts
  packages/monitoring/src/domain/MonitoringEventsMap.ts
  packages/monitoring/src/domain/index.ts
  packages/runner/src/domain/Runner.ts
  packages/settings/src/domain/Settings.ts
  packages/settings/src/schemas/SettingsSchema.ts
  tsconfig.docs.json
  tsconfig.json
  typedoc.json
Due: yarn format, yarn lint

Path conditions:
  yarn format: (any of: *.ts) or (any of: *.json)
  yarn lint: any of: *.ts
