Repository Ev1ch/compyto: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc:

{
  "*.ts": ["prettier --check", "eslint"],
  "*.json": ["prettier --check"]
}

ci: make tests unpublishable
  tests/package.json
Due: prettier --check

ci: remove publish package workflow
  .github/workflows/publish-package.yaml
Due: none

ci: fix docs build
  .github/workflows/deploy-documentation.yaml
  tests/package.json
Due: prettier --check

ci: fix packages building
  build.sh
  package.json
  packages/monitoring/package.json
  packages/monitoring/tsconfig.json
Due: prettier --check

docs: remove useless plugins
  package.json
  typedoc.json
  yarn.lock
Due: prettier --check

fix(utils/logic): fix id generation
  packages/utils/src/logic/createId.ts
Due: prettier --check, eslint

ci: fix modules type
  packages/balancing/package.json
  packages/connections/package.json
  packages/core/package.json
  packages/logging/package.json
  packages/monitoring/package.json
  packages/runner/package.json
  packages/serialization/package.json
  packages/settings/package.json
  packages/sockets/package.json
  packages/utils/package.json
  packages/validation/package.json
  tests/jest.config.ts
  tests/package.json
  tsconfig.common.json
Due: prettier --check, eslint

ci: add extended exports for packages
  packages/balancing/package.json
  packages/connections/package.json
  packages/core/package.json
  packages/logging/package.json
  packages/monitoring/package.json
  packages/runner/package.json
  packages/serialization/package.json
  packages/settings/package.json
  packages/sockets/package.json
  packages/utils/package.json
  packages/validation/package.json
Due: prettier --check

feat(logging/logic): extract timestamp former
  packages/logging/src/logic/getColoredTimestamp.ts
  packages/logging/src/logic/getTimestamp.ts
Due: prettier --check, eslint

feat(logging/logic): remove static logger instance
  packages/logging/src/logic/index.ts
  packages/logging/src/logic/logger.ts
Due: prettier --check, eslint

fix(logging/constants): fix type-color map
  packages/logging/src/constants.ts
Due: prettier --check, eslint

fix(monitoring/domain): fix event key naming
  packages/monitoring/src/domain/MonitoringEventKey.ts
  packages/monitoring/src/domain/MonitoringEventKeyScope.ts
  packages/monitoring/src/domain/MonitoringEventKeyType.ts
  packages/monitoring/src/domain/MonitoringEventKeys.ts
  packages/monitoring/src/domain/MonitoringEventKeysMap.ts
  packages/monitoring/src/domain/MonitoringEventScope.ts
  packages/monitoring/src/domain/MonitoringEventType.ts
  packages/monitoring/src/domain/index.ts
Due: prettier --check, eslint

fix(monitoring/domain): fix event key naming in other places
  packages/monitoring/src/constants.ts
  packages/monitoring/src/domain/Monitoring.ts
  packages/monitoring/src/logic/createMonitoring.ts
Due: prettier --check, eslint

fix(monitoring/domain): fix event structure
  packages/monitoring/src/domain/MonitoringEvent.ts
Due: prettier --check, eslint

ci: add license field for packages
  package.json
  packages/balancing/package.json
  packages/connections/package.json
  packages/core/package.json
  packages/logging/package.json
  packages/monitoring/package.json
  packages/runner/package.json
  packages/serialization/package.json
  packages/settings/package.json
  packages/sockets/package.json
  packages/utils/package.json
  packages/validation/package.json
  tests/package.json
Due: prettier --check

ci: fix eslint config
  .eslintrc
Due: none

ci: fix prettier config
  .prettierrc
Due: none

fix(logging/domain): fix event types import
  packages/logging/src/domain/Logger.ts
Due: prettier --check, eslint

fix(logging/logic): fix logger creation
  packages/logging/src/logic/createConsoleLogger.ts
  packages/logging/src/logic/getColoredMonitoringContext.ts
  packages/logging/src/logic/getColoredMonitoringEventKey.ts
  packages/logging/src/logic/index.ts
Due: prettier --check, eslint

feat(runtime): add module
  packages/runtime/package.json
  packages/runtime/src/domain/Runtime.ts
  packages/runtime/src/domain/index.ts
  packages/runtime/src/index.ts
  packages/runtime/src/logic/index.ts
  packages/runtime/src/logic/runtime.ts
  packages/runtime/tsconfig.json
Due: prettier --check, eslint

feat(monitoring): remove context
  packages/monitoring/src/domain/Monitoring.ts
  packages/monitoring/src/domain/MonitoringContext.ts
  packages/monitoring/src/domain/MonitoringEventKey.ts
  packages/monitoring/src/domain/index.ts
  packages/monitoring/src/logic/index.ts
  packages/monitoring/src/logic/monitoring.ts
  packages/monitoring/src/utils/getMonitoringEventKeyParts.ts
  packages/monitoring/src/utils/getMonitoringEventParts.ts
  packages/monitoring/src/utils/index.ts
Due: prettier --check, eslint

feat(monitoring): add socket server starting
  packages/monitoring/src/logic/createMonitoring.ts
  packages/monitoring/tsconfig.json
Due: prettier --check, eslint

feat(settings): add monitoring settings
  packages/settings/src/domain/Settings.ts
  packages/settings/src/schemas/SettingsSchema.ts
Due: prettier --check, eslint

feat(runner): add runtime setting
  packages/runner/src/logic/createRunner.ts
  packages/runner/tsconfig.json
Due: prettier --check, eslint

feat(sockets): add runtime
  packages/sockets/package.json
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
  packages/sockets/src/logic/startMainPerson.ts
  packages/sockets/src/logic/startPerson.ts
  packages/sockets/src/logic/waiting/waitForClientBalances.ts
  packages/sockets/src/logic/waiting/waitForConnections.ts
  packages/sockets/src/logic/waiting/waitForServerBalances.ts
  packages/sockets/tsconfig.json
Due: prettier --check, eslint

ci: fix build process
  build.sh
  tsconfig.common.json
  tsconfig.json
  yarn.lock
Due: prettier --check

test: add mocks
  tests/src/utils/index.ts
  tests/src/utils/mocks/index.ts
  tests/src/utils/mocks/loggerMock.ts
  tests/src/utils/mocks/monitoringMock.ts
Due: prettier --check, eslint

feat(monitoring/domain): add event type re-export
  packages/monitoring/src/domain/index.ts
Due: prettier --check, eslint

feat(dashboard/hooks): add use outside click hook
  packages/dashboard/src/hooks/index.ts
  packages/dashboard/src/hooks/useOutsideClick.ts
Due: prettier --check, eslint

feat(dashboard/components): add baseline
  packages/dashboard/src/components/common/index.ts
Due: prettier --check, eslint

feat(logging/logic): add timestamp date passing
  packages/logging/src/logic/getTimestamp.ts
Due: prettier --check, eslint

docs(monitoring/domain): fix context comment
  packages/monitoring/src/domain/MonitoringEventContext.ts
Due: prettier --check, eslint

feat(settings/domain): extract client and master settings
  packages/settings/src/domain/Settings.ts
  packages/settings/src/domain/index.ts
Due: prettier --check, eslint

feat(dashboard/styles): add basic common styles
  packages/dashboard/src/styles/constants.ts
  packages/dashboard/src/styles/logic/getArrayedSx.ts
  packages/dashboard/src/styles/logic/index.ts
Due: prettier --check, eslint

feat(dashboard/components): add providers composer
  packages/dashboard/src/components/blocks/Providers/index.tsx
Due: none

fix(tests): fix mocking of runtime
  tests/src/integrations/sockets.test.ts
  tests/src/logic/getRandomClientSettings.ts
  tests/src/logic/getRandomEvent.ts
  tests/src/logic/getRandomMasterSettings.ts
Due: prettier --check, eslint

ci: make packages tree-shakeable
  packages/balancing/package.json
  packages/connections/package.json
  packages/core/package.json
  packages/dashboard/package.json
  packages/logging/package.json
  packages/monitoring/package.json
  packages/runner/package.json
  packages/runtime/package.json
  packages/serialization/package.json
  packages/settings/package.json
  packages/sockets/package.json
  packages/utils/package.json
  packages/validation/package.json
Due: prettier --check

feat(dashboard/constants): add basic constants
  packages/dashboard/src/constants.ts
Due: prettier --check, eslint

feat(dashboard/utils): add basic utils
  packages/dashboard/src/utils/index.ts
Due: prettier --check, eslint

feat(monitoring/domain): add args into event object
  packages/monitoring/src/domain/MonitoringEvent.ts
Due: prettier --check, eslint
