Repository Ev1ch/compyto: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

feat(dashboard/analysis): add entities
  packages/dashboard/src/modules/analysis/domain/Pair.ts
  packages/dashboard/src/modules/analysis/domain/Position.ts
  packages/dashboard/src/modules/analysis/domain/index.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): add selection analysis
  packages/dashboard/src/modules/monitoring/components/blocks/AddMonitoringEventsFilterPopper/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/AddMonitoringEventsSortPopper/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/Connector/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/Logger/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventNode/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsFilters/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsSearch/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsShow/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsSorts/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTree/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTreeHeader/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/Root/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/index.ts
  packages/dashboard/src/modules/monitoring/components/common/MonitoringEvent/index.tsx
Due: prettier --check, eslint

feat(dashboard): extract dashboard page
  packages/dashboard/src/App.tsx
  packages/dashboard/src/components/blocks/Providers/index.tsx
  packages/dashboard/src/components/layouts/Layout/index.tsx
  packages/dashboard/src/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/Root/index.tsx
  packages/dashboard/src/modules/monitoring/components/pages/Dashboard/index.tsx
  packages/dashboard/src/modules/monitoring/components/pages/index.ts
  packages/dashboard/src/modules/monitoring/hooks/index.ts
  packages/dashboard/src/modules/monitoring/hooks/useInitMonitoring.ts
Due: prettier --check, eslint

perf(dashboard): optimize performance by memoization
  packages/dashboard/src/modules/analysis/domain/Pair.ts
  packages/dashboard/src/modules/analysis/store/index.ts
  packages/dashboard/src/modules/monitoring/components/blocks/AddMonitoringEventsFilterPopper/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/AddMonitoringEventsSortPopper/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/Connector/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/Logger/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventNode/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsFilters/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsPreparers/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsSearch/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsShow/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsSorts/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTree/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTreeHeader/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/Root/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/Selection/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/Selections/index.tsx
  packages/dashboard/src/modules/monitoring/components/common/MonitoringEvent/index.tsx
  packages/dashboard/src/modules/monitoring/components/common/MonitoringEventArgs/index.tsx
  packages/dashboard/src/modules/monitoring/components/common/MonitoringEventKey/index.tsx
  packages/dashboard/src/modules/monitoring/store/index.ts
  packages/dashboard/src/modules/monitoring/utils/getTopAndHeight.ts
  packages/dashboard/src/modules/monitoring/utils/index.ts
Due: prettier --check, eslint

fix(dashboard): fix types interfaces
  packages/dashboard/src/modules/analysis/store/index.ts
  packages/dashboard/src/modules/monitoring/components/blocks/AddMonitoringEventsFilterPopper/index.tsx
  packages/dashboard/src/modules/monitoring/store/index.ts
  packages/dashboard/src/store/domain/State.ts
Due: prettier --check, eslint

refactor: gather method
  emulations/gather/main.ts
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
Due: prettier --check, eslint

fix(dashboard/monitoring): fix selection height
  packages/dashboard/src/modules/monitoring/store/index.ts
  packages/dashboard/src/modules/monitoring/utils/getTopAndHeight.ts
Due: prettier --check, eslint

refactor: reuse gather code
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): add debounce for search
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsSearch/index.tsx
Due: none

fix(dashboard/monitoring): fix scroll with selections
  packages/dashboard/src/modules/monitoring/components/blocks/Selections/index.tsx
Due: none

feat: extract utils to package
  packages/dashboard/src/modules/monitoring/components/blocks/AddMonitoringEventsFilterPopper/index.tsx
  packages/dashboard/src/modules/monitoring/logic/preparers/getMonitoringEventField.ts
  packages/dashboard/src/modules/monitoring/store/index.ts
  packages/dashboard/src/utils/index.ts
  packages/utils/src/logic/index.ts
Due: prettier --check, eslint

docs(connections): add comment for uri to string function
  packages/connections/src/logic/getStringURI.ts
  packages/dashboard/tsconfig.json
Due: prettier --check, eslint

fix: broadcast method and add emulation for it
  emulations/broadcast/main.ts
  emulations/broadcast/master/main.ts
  emulations/broadcast/master/settings.json
  emulations/broadcast/pc-1/main.ts
  emulations/broadcast/pc-1/settings.json
  emulations/broadcast/pc-2/main.ts
  emulations/broadcast/pc-2/settings.json
  packages/connections/src/domain/Communicator.ts
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
Due: prettier --check, eslint

fix: scatter returns actual data
  emulations/send-receive/main.ts
  packages/connections/src/domain/Communicator.ts
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
Due: prettier --check, eslint

fix: add finalize methods to emulations and some checks
  emulations/all-gather/main.ts
  emulations/broadcast/main.ts
  emulations/gather/main.ts
  emulations/scatter/main.ts
  emulations/send-receive/main.ts
Due: prettier --check, eslint

feat: all methods return real data, correct slice method
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
Due: prettier --check, eslint

feat: speedtest folder
  speedtest/README.md
  speedtest/multiply-matrices/common.js
  speedtest/multiply-matrices/mpi.js
  speedtest/multiply-matrices/sync.js
Due: none

feat: add run sh scripts for ubuntu
  emulations/bin/all-gather.sh
  emulations/bin/broadcast.sh
  emulations/bin/gather.sh
  emulations/bin/scatter.sh
  emulations/bin/send-receive.sh
Due: none

refactor: event emitter bug?
  emulations/bin/hello.sh
  emulations/gather/main.ts
  emulations/hello/main.ts
  emulations/hello/master/main.ts
  emulations/hello/master/settings.json
  emulations/hello/pc-1/main.ts
  emulations/hello/pc-1/settings.json
  emulations/hello/pc-2/main.ts
  emulations/hello/pc-2/settings.json
  emulations/scatter/main.ts
  emulations/send-receive/main.ts
  package.json
  packages/connections/src/domain/Communicator.ts
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
  packages/sockets/src/logic/setCommunicationHandlers.ts
  speedtest/multiply-matrices/mpi.js
  speedtest/multiply-matrices/mpi/main.js
  speedtest/multiply-matrices/mpi/master/main.js
  speedtest/multiply-matrices/mpi/master/settings.json
  speedtest/multiply-matrices/mpi/pc-1/main.js
  speedtest/multiply-matrices/mpi/pc-1/settings.json
  speedtest/multiply-matrices/mpi/pc-2/main.js
  speedtest/multiply-matrices/mpi/pc-2/settings.json
  speedtest/multiply-matrices/mpi/pc-3/main.js
  speedtest/multiply-matrices/mpi/pc-3/settings.json
  speedtest/multiply-matrices/mpi/run.sh
  speedtest/multiply-matrices/package.json
Due: prettier --check, eslint

fix(sockets): fix code uniqness validation
  packages/sockets/src/logic/waiting/waitForConnections.ts
Due: prettier --check, eslint

build: add type module for workspace
  package.json
Due: prettier --check

fix(balancing): fix key generation
  packages/balancing/src/logic/creators/createBalances.ts
  packages/balancing/src/utils/getBalanceKey.ts
  packages/balancing/src/utils/index.ts
Due: prettier --check, eslint

feat(dashboard/hooks): add file input hook
  packages/dashboard/src/hooks/index.ts
  packages/dashboard/src/hooks/useFileInput.ts
Due: prettier --check, eslint

fix: remove logs, fix gather test
  emulations/gather/main.ts
  package.json
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
  packages/sockets/src/logic/setCommunicationHandlers.ts
Due: prettier --check, eslint

fix: remove finalize
  emulations/all-gather/main.ts
  emulations/broadcast/main.ts
  emulations/hello/main.ts
  emulations/scatter/main.ts
  emulations/send-receive/main.ts
  packages/connections/src/domain/Communicator.ts
Due: prettier --check, eslint

feat(monitoring/schemas): add basic validation schema
  packages/monitoring/package.json
  packages/monitoring/src/index.ts
  packages/monitoring/src/schemas/MonitoringEventContextSchema.ts
  packages/monitoring/src/schemas/MonitoringEventSchema.ts
  packages/monitoring/src/schemas/MonitoringEventsSchema.ts
  packages/monitoring/src/schemas/index.ts
  packages/monitoring/tsconfig.json
Due: prettier --check, eslint

feat(utils/logic): add is json checker
  packages/utils/src/logic/index.ts
  packages/utils/src/logic/isJson.ts
Due: prettier --check, eslint

feat(dashboard/utils): add read file util
  packages/dashboard/src/utils/index.ts
  packages/dashboard/src/utils/readFile.ts
Due: prettier --check, eslint

feat(validation): add iso date type validation
  packages/validation/package.json
  packages/validation/src/constants.ts
  packages/validation/src/index.ts
Due: prettier --check, eslint

fix(monitoring/schemas): fix date type to iso string
  packages/monitoring/src/schemas/MonitoringEventContextSchema.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): add outside click closing
  packages/dashboard/src/modules/monitoring/components/blocks/AddMonitoringEventsFilterPopper/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/AddMonitoringEventsSortPopper/index.tsx
Due: none

Revert "feat(dashboard/monitoring): add outside click closing"
  packages/dashboard/src/modules/monitoring/components/blocks/AddMonitoringEventsFilterPopper/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/AddMonitoringEventsSortPopper/index.tsx
Due: none

feat(dashboard/hooks): add cancel handler
  packages/dashboard/src/hooks/useFileInput.ts
Due: prettier --check, eslint

fix(dashboard/monitoring): fix connector color unfocused
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventNode/index.tsx
Due: none

fix(dashboard/monitoring): extract parsing function for json events
  packages/dashboard/src/modules/monitoring/utils/index.ts
  packages/dashboard/src/modules/monitoring/utils/parseJsonMonitoringEvents.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): remove pre-generation of events
  packages/dashboard/src/modules/monitoring/store/index.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): add importing of events
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsImportPopper/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsImportStatus/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTree/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTreeHeader/index.tsx
  packages/dashboard/src/modules/monitoring/constants.ts
Due: prettier --check, eslint

docs(dashboard): add basic doc for core interface
  packages/dashboard/index.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): add importing auto focus
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsImportPopper/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTreeHeader/index.tsx
Due: none

fix(dashboard/monitoring): fix events imports selections
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTree/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/Selection/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/Selections/index.tsx
  packages/dashboard/src/modules/monitoring/hooks/index.ts
  packages/dashboard/src/modules/monitoring/hooks/useInitSelections.ts
Due: prettier --check, eslint

Path conditions:
  prettier --check: (any of: *.ts) or (any of: *.json)
  eslint: any of: *.ts
